force-app/main/default/flows/OTTOSURVEY-4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignSurveySubject</name>
        <label>assignSurveySubject</label>
        <locationX>583</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyInvitationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_SurveyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSurveySubject</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_SurveyName</name>
        <dataType>String</dataType>
        <expression>&#39;Survey for Job&#39;+{!JobId}</expression>
    </formulas>
    <interviewLabel>OTTOSURVEY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTTOSURVEY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSurveySubject</name>
        <label>CreateSurveySubject</label>
        <locationX>728</locationX>
        <locationY>244</locationY>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SurveyInvitation</name>
        <label>SurveyInvitation</label>
        <locationX>648</locationX>
        <locationY>99</locationY>
        <assignRecordIdToReference>SurveyInvitationId</assignRecordIdToReference>
        <connector>
            <targetReference>assignSurveySubject</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>CommunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_SurveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordLookups>
        <name>lookupCommunity</name>
        <label>lookupCommunity</label>
        <locationX>386</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupSurvey</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OnePak Partners</stringValue>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>CommunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupContact</name>
        <label>lookupContact</label>
        <locationX>252</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupCommunity</targetReference>
        </connector>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupJob</name>
        <label>lookupJob</label>
        <locationX>188</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupSurvey</name>
        <label>lookupSurvey</label>
        <locationX>420</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyInvitation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTTO LOGISTICS SURVEY</stringValue>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>SurveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>lookupJob</startElementReference>
    <variables>
        <name>CommunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formula_SurveyName_old</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyInvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
