force-app/main/default/flows/otto_logistics_survey-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank0&quot;,&quot;rankText&quot;:&quot;{!q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank1&quot;,&quot;rankText&quot;:&quot;{!q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_53eeabfa_08cc_4aca_bd3c_ff8a5e5e040a</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_020118ef_0d97_463d_9b39_415b6a7df8d7</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_665cd91f_767c_4364_8f9b_ad1c2cdf0868</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfa4f920_d9c6_4fbe_b682_32c6737bb88b</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d67bfde7_176a_4d96_8769_41ee59ff8b12</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <interviewLabel>OTTO LOGISTICS SURVEY</interviewLabel>
    <label>OTTO LOGISTICS SURVEY</label>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_53eeabfa_08cc_4aca_bd3c_ff8a5e5e040a</name>
        <label>OTTO SURVEY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f158e8b5_c5f6_4402_b362_2a3d3cd7532d</targetReference>
        </connector>
        <fields>
            <name>q_29dbee8c_2248_4556_8243_ba77f543d7d5</name>
            <choiceReferences>c_665cd91f_767c_4364_8f9b_ad1c2cdf0868</choiceReferences>
            <choiceReferences>c_020118ef_0d97_463d_9b39_415b6a7df8d7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Are you happy with product ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_ea811b97_afc2_4882_901c_ca5a5468f1d3</name>
            <choiceReferences>c_cfa4f920_d9c6_4fbe_b682_32c6737bb88b</choiceReferences>
            <choiceReferences>c_d67bfde7_176a_4d96_8769_41ee59ff8b12</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Have you received a product?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q_582c35fb_00d8_4a30_913a_b0a7ceb757e7</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter the received date?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_cab9713b_6f92_4574_aa93_68fcac2e2fab</name>
            <extensionName>survey:runtimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Enter ranking for this product.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!q_cab9713b_6f92_4574_aa93_68fcac2e2fab_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rank</name>
                <value>
                    <elementReference>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>weights</name>
                <value>
                    <stringValue>[2,1]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_lref</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_qtref</assignToReference>
                <name>questionType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_irref</assignToReference>
                <name>isRequired</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank</assignToReference>
                <name>rank</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_weightsref</assignToReference>
                <name>weights</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68</name>
            <extensionName>survey:runtimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Enter score from 0 (Poor) to 10 (Excellent)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionType</name>
                <value>
                    <stringValue>CSAT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_lref</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_qtref</assignToReference>
                <name>questionType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_irref</assignToReference>
                <name>isRequired</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_minref</assignToReference>
                <name>min</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_maxref</assignToReference>
                <name>max</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your Survey Invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f158e8b5_c5f6_4402_b362_2a3d3cd7532d</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>q_9c8971e6_22c9_445e_a218_68b1e997a98b</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;How was your experience with OTTO?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your Survey Invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StackRank_Assignment</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <textTemplates>
        <name>q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_lref_tt</name>
        <text>&lt;p&gt;&lt;b&gt;Enter score from 0 (Poor) to 10 (Excellent)&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_lref_tt</name>
        <text>&lt;p&gt;&lt;b&gt;Enter ranking for this product.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank0</name>
        <text>Rank 1</text>
    </textTemplates>
    <textTemplates>
        <name>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank1</name>
        <text>Rank 2</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <text>&lt;p&gt;&lt;b&gt;Thank you for taking the time to complete this survey.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <text>This is a sample survey for the logistic process.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <text>&lt;p&gt;&lt;i style=&quot;font-size: 28px;&quot;&gt;Welcome to &lt;/i&gt;&lt;b style=&quot;font-size: 28px;&quot;&gt;&lt;i&gt;&quot;OnePak&quot; &lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;font-size: 28px;&quot;&gt;survey !!!&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_cab9713b_6f92_4574_aa93_68fcac2e2fab_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_irref</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_lref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_maxref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_minref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_ae37c43c_6d1e_45f1_81c6_6adad2c00b68_qtref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_irref</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_lref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_qtref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_cab9713b_6f92_4574_aa93_68fcac2e2fab_weightsref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
